.WaveformContainer{
  display: flex;  
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  /* height: 100px;   */
  width: 100%;
  background: transparent;
}
.Wave {
  /* display: flex; */
  align-items: center;
  display: none;
}
#waveform {
  width: 100%;
  height: 90px;
  background: #F5F5F5;
}
#waveform__audio {
  width: 100%;
  height: 90px;
  background: #F5F5F5;
}
.sound-wave {
  width: 100%;
  max-width: 600px;
}
.record__micro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wave__style {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
}
.ButtonGroup {
  display: flex;
  flex-direction: row;
}
.TimeGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  max-width:600px; 
}
.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Record{
  width: 100%;
  max-width: 600px;
}